/* Structure */

.example-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  position: relative;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-table {
  overflow: auto;
  min-height: 300px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}


/* Column Widths */
.mat-column-name,
.mat-column-surname {
  max-width: 100px;
}
.mat-column-roles {
  max-width: 130px;
}
.mat-column-custom-actions {
  max-width: 140px;
}

button.mat-raised-button.mat-small {
  min-width: 1%;
}

#add-user-button {
  margin-left: 30px;
}